
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    body.no-scroll {
        overflow: hidden;

    }

    #main-screen {
        overflow: hidden;
    }

    .social-sidebar,
    .email-sidebar {
        display: none;
    }

    .nav-wrapper {
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;

    }

    .nav-wrapper.show {
        display: block;

    }

    .nav-wrapper::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);

    }



    .nav-list {
        position: absolute;
        right: 0;
        display: flex;
        justify-self: end;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        height: 100%;
        background: #112240;
    }


    .nav-item:last-child .resume-container-2 {
        width: 140px;
    }

    .menu-icon {
        --start-rotate: 90deg;
        --end-rotate: 0deg;
        display: block;
        width: 30px;
        animation: rotate 0.1s ease;
    }

    .sidebar-close-icon {
        --start-rotate: -90deg;
        --end-rotate: 0deg;
        display: block;
        position: fixed;
        z-index: 3;
        right: 20px;
        top: 28px;
        animation: rotate 0.1s ease;
        display: none;

    }

    @keyframes rotate {
        from {
            transform: rotate(var(--start-rotate));
        }

        to {
            transform: rotate(var(--end-rotate));
        }
    }



}

/* mobile and tablet */
@media (max-width: 1023px) {}


/* mobile */
@media (max-width: 739px) {}