/* tablet */
@media (max-width: 1023px) {


    header {
        position: relative;

    }

    .nav-list {

        position: absolute;
        top: 0;
        right: -100%;
        bottom: 0;

        flex-direction: column;
        justify-content: space-evenly;

        background: #112240;
        height: 100vh;
        width: 70%;
        display: none;
    }

    .nav-list::before {
        content: "";
        width: 100vh;
        height: 100vh;
        position: fixed;
        z-index: -1;
    }

    .nav-list.show {
        display: flex;
        animation: sidebar-in 0.2s ease forwards;

    }


    @keyframes sidebar-in {

        from {
            right: -100%;
        }

        to {
            right: 0;
        }
    }


    .nav-item:last-child,
    .resume-container-1,
    .resume-container-2 {
        width: 140px;
    }



    .menu-icon {
        --start-rotate: 90deg;
        --end-rotate: 0deg;
        display: block;
        width: 30px;
        animation: rotate 0.3s ease;
    }

    .close-sidebar {
        --start-rotate: -90deg;
        --end-rotate: 0deg;
        display: block;
        position: absolute;
        right: 20px;
        top: 28px;
        animation: rotate 0.3s ease;
        display: none;

    }

    @keyframes rotate {
        from {
            transform: rotate(var(--start-rotate));
        }

        to {
            transform: rotate(var(--end-rotate));
        }
    }



}