/* base css */
:root {
  --primary-color: #64FFDA;
  --text-color: #8892B0;
  --title-color: #CCD6F6;
  --background-color: #0A192F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-family: sans-serif;


}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
  height: 100px;

}


/* -------- */

#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #020C1B;
  z-index: 1;
  display: flex;

}

#loading-screen #logo {
  margin: auto;
}

#main-screen {
  display: flex;
  flex-direction: column;

}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  max-width: 1200px;
  height: 100px;
  margin: auto;
}


#logo {
  width: 75px;
  height: 75px;
  position: relative;

}

.hexagon {
  position: absolute;

}

.hexagon.is-hover {
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.hexagon.is-hover:hover {
  transform: translate(-4px, -2px);
  transition: all ease-in 0.2s;
}


.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.nav-item {
  font-size: 14px;
  opacity: 0;
  transform: translateY(-15px);
  transition: all ease 0.3s;
}

.nav-item.show-nav-item {
  opacity: 1;
  transform: translateY(0);
}

.hero-item {
  opacity: 0;
  transform: translateY(15px);
  transition: all ease 0.5s;
}

.hero-item.show {
  opacity: 1;
  transform: translateY(0);
}


.nav-item-link {
  color: var(--text-color);
  transition: all ease-in 0.2s;
}

.nav-item-link:hover {
  color: var(--primary-color);

}

.nav-item-stt {
  color: var(--primary-color);
}

.resume {
  position: relative;

}

.resume-btn {
  width: 82px;
  height: 38px;
  background-color: var(--primary-color);
  border-radius: 3px;
}

.resume-link {
  position: absolute;
  top: 0;
  width: 82px;
  height: 38px;
  background-color: var(--background-color);
  border-radius: 3px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-align: center;
  line-height: 38px;
  transition: all 0.2s ease-out;
}

.resume-link:hover {
  transform: translate(-4px, -2px);
  transition: all ease-in 0.2s;
}

.menu-icon {
  display: none;
}

.sidebar-close-icon {
  display: none;
}

/* ------ end header ----- */


/*------ content------- */
.main-content {
  display: flex;
  justify-content: center;
}

.hero {
  max-width: 1200px;
  padding: 100px 30px;

}

.hero-title {
  font-size: 16px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.hero-name,
.hero-subtitle {
  font-size: 80px;
  color: var(--title-color);
}

.hero-subtitle {
  color: var(--text-color);
}

.hero-text {
  font-size: 20px;
  color: var(--text-color);
  max-width: 603px;
  margin-top: 20px;

}

.hero-link {
  color: var(--primary-color);
}

.hero-course {
  position: relative;
  top: 50px;

}

.hero-course-btn {
  width: 216px;
  height: 59px;
  background-color: var(--primary-color);
  border-radius: 3px;
  padding: 10px 30px;


}

.hero-course-link {
  position: absolute;
  padding: 10px 30px;
  top: 0;
  background-color: var(--background-color);
  border-radius: 3px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-align: center;
  line-height: 38px;
  transition: all 0.2s ease-out;
}

.hero-course-link:hover {
  transform: translate(-5px, -3px);
  transition: all ease-in 0.2s;
}