/* base css */
:root {
  --primary-color: #64FFDA;
  --text-color: #8892B0;
  --title-color: #CCD6F6;
  --background-color: #0A192F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-family: sans-serif;


}

body {
  background-color: var(--background-color);

}

a {
  text-decoration: none;
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
  height: 100px;

}


/* -------- */

#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #020C1B;
  z-index: 1;
  display: flex;

}

#loading-screen #logo {
  margin: auto;
}

#main-screen {
  display: flex;
  flex-direction: column;


}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  max-width: 1200px;
  height: 100px;
  margin: auto;
}


#logo {
  width: 75px;
  height: 75px;
  position: relative;

}

.hexagon {
  position: absolute;

}

.hexagon.is-hover {
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.hexagon.is-hover:hover {
  transform: translate(-4px, -2px);
  transition: all ease-in 0.2s;
}


.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.nav-item {
  font-size: 14px;
  opacity: 0;
  transform: translateY(-15px);
  transition: all ease 0.3s;
}

.nav-item.show-nav-item {
  opacity: 1;
  transform: translateY(0);
}

.hero-item {
  opacity: 0;
  transform: translateY(15px);
  transition: all ease 0.5s;
}

.hero-item.show {
  opacity: 1;
  transform: translateY(0);
}


.nav-item-link {
  color: var(--text-color);
  transition: all ease-in 0.2s;
}

.nav-item-link:hover {
  color: var(--primary-color);

}

.nav-item-stt {
  color: var(--primary-color);
}

.resume {
  position: relative;

}

.resume-btn {
  width: 82px;
  height: 38px;
  background-color: var(--primary-color);
  border-radius: 3px;
}

.resume-link {
  position: absolute;
  top: 0;
  width: 82px;
  height: 38px;
  background-color: var(--background-color);
  border-radius: 3px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-align: center;
  line-height: 38px;
  transition: all 0.2s ease-out;
}

.resume-link:hover {
  transform: translate(-4px, -2px);
  transition: all ease-in 0.2s;
}

.menu-icon {
  display: none;
}

.sidebar-close-icon {
  display: none;
}

/* ------ end header ----- */


/*------ content------- */
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;



}

.hero {
  padding: 100px 30px;

}

.hero-title {
  font-size: 16px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.hero-name,
.hero-subtitle {
  font-size: 80px;
  color: var(--title-color);
}

.hero-subtitle {
  color: var(--text-color);
}

.hero-text {
  font-size: 20px;
  color: var(--text-color);
  max-width: 603px;
  margin-top: 20px;

}

.hero-link {
  color: var(--primary-color);
}

.hero-course {
  position: relative;
  top: 50px;


}

.hero-course-btn {
  width: 216px;
  height: 59px;
  background-color: var(--primary-color);
  border-radius: 3px;
  padding: 10px 30px;


}

.hero-course-link {
  position: absolute;
  padding: 10px 30px;
  top: 0;
  background-color: var(--background-color);
  border-radius: 3px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-align: center;
  line-height: 38px;
  transition: all 0.2s ease-out;
}

.hero-course-link:hover {
  transform: translate(-5px, -3px);
  transition: all ease-in 0.2s;
}

.about {
  margin: 100px 0px;
  opacity: 0;
  transform: translateY(50px);


}

.about.show {
  opacity: 1;
  transform: translateY(0);
  transition: all ease 1s;
}


.about-heading {
  font-size: 32px;
  color: var(--title-color);
  position: relative;
}

.about-heading::before {
  content: "01. ";
  color: var(--primary-color);
}

.about-heading::after {
  content: "";
  position: absolute;
  margin-left: 20px;
  margin-top: 18px;
  width: 200px;
  height: 1px;
  background-color: #233554;
}

.about-inner {
  display: flex;
  justify-content: space-between;
  width: 900px;


}

.about-desc-left {
  width: 510px;
}

.about-text {
  font-size: 20px;
  color: var(--text-color);
  margin: 20px 0;
}

.about-link {
  color: var(--primary-color);
}

.about-skills-list {
  color: var(--text-color);
  display: flex;
  height: 80px;
  flex-wrap: wrap;
  list-style: none;
}

.about-skills-item {
  width: 200px;
  position: relative;
  padding-left: 20px;
}

.about-skills-item::before {
  content: "▹";
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: var(--primary-color);

}

.about-desc-right {}

.about-right-wrapper {}

.about-img-wrapper {
  width: 300px;
  height: 300px;
  position: relative;
}

.about-img-wrapper:hover {
  transform: translate(-5px, -5px);
  transition: transform ease 0.3s;
}

.about-img-wrapper:not(:hover) {
  transform: translate(0, 0);
  transition: transform ease 0.3s;
}

.about-img-wrapper::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #6AFFE1;
  mix-blend-mode: multiply;
}

.about-img-wrapper:hover::before {
  opacity: 0;
}

.about-img {
  object-fit: cover;
  width: 300px;
}

.about-img-wrapper::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  left: 10px;
  top: 10px;
  background-color: var(--background-color);
  border: 3px solid var(--primary-color);
  border-radius: 3px;
  z-index: -1
}

.about-img-wrapper:hover::after {
  transform: translate(10px, 10px);
  transition: transform ease 0.3s;
}

.about-img-wrapper:not(:hover)::after {
  transform: translate(0, 0);
  transition: transform ease 0.3s;
}

.jobs {
  display: flex;
  margin: 100px 0;
  height: 100vh;

}

.job-wrapper {
  max-width: 700px;
}

.job-heading {
  font-size: 32px;
  color: var(--title-color);
  position: relative;
}

.job-heading::before {
  content: "02. ";
  color: var(--primary-color);
}

.job-heading::after {
  content: "";
  position: absolute;
  top: 17px;
  margin-left: 15px;
  width: 200px;
  height: 1px;
  background-color: #233554;

}


.job-inner {
  display: flex;
  color: var(--text-color);
  margin-top: 50px;
}

.job-tab-list {
  list-style: none;
  position: relative;
}

.job-tab-item {
  width: 138px;
  height: 42px;
  border-left: 2px solid #233554;
  line-height: 42px;
  padding-left: 20px;
  cursor: pointer;

}

.job-tab-item:hover {
  color: var(--primary-color);
  background-color: #112240;
  transition: all ease 0.3s;
}

.job-tab-item.active {
  color: var(--primary-color);
  background-color: #112240;
}

.job-tab-list .line {
  content: "";
  position: absolute;
  left: 1px;
  width: 1px;
  background-color: var(--primary-color);
  transition: all ease 0.3s;
}



.job-desc {
  padding-top: 7px;
  padding-left: 20px;
  width: 542px;
}

.job-desc-wrapper {
  display: none;
}

.job-desc-wrapper.active {
  display: block;
}



.job-position {
  color: var(--title-color);
}

.job-company-link {
  color: var(--primary-color);
  margin-left: 5px;
}

.job-range {
  font-size: 14px;
  margin-top: 7px;
}

.task-list {
  margin-top: 25px;
  list-style: none;
}

.task-item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
}

.task-item::before {
  position: absolute;
  left: 0;
  content: "▹";
  color: var(--primary-color);
}